<template>
  <div
   class="y-{{name}}" 
  >
  </div>
</template>

<script>
export default {
  name: 'y-{{name}}',
  data() {
    return {
    }
  }
}
</script>

<style scoped>
.y-{{name}} {
}
</style>
